/**
* Police et couleurs
**/
html {
    background-color: #003809;
    width: 100%;
}

h1, footer {
    color: white;
}

.cadre-info {
    background-color: #bfecc6;
}

/** Header **/

header {
    display: flex;
    justify-content: center;
    row-gap: 20px;
}

header img {
    width: 120px;
    height: 120px;
}



h1 {
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 3em;
    font-weight: 500;
    margin-left: 60px;
}

/**
* Main
**/

main,
footer {
    display: flex;
    justify-content: space-around;
}

main {
    margin: 20px 0;
}

/**
* Cadre container
**/

#cadre-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
}

#cadre-container > * {
    width: 150%;
}

#ephemeride-data {
    line-height: 7px;
}

/*section tableau*/

#meteo_semaine {
    border-spacing: 1px;
    border-collapse: collapse;
}

#meteo_semaine .table-row {
    display: flex;
    align-items: center;
}

#meteo_semaine > div {
    border: 1px solid rgb(46, 46, 46);
}

#meteo_semaine > div > * {
    width: 33%;
    text-align: center;
}

.icone-meteo {
    border-right: 1px solid rgb(46, 46, 46);
    border-left: 1px solid rgb(46, 46, 46);
    height: 100%;
}


/**
* Aside Temperatures
**/

aside {
    text-align: center;
    padding: 5px;
}

aside h2 {
    font-size: 2em;
    margin: 0;
}

#min {
    background-color: #2196f3;
}

#max {
    background-color: #e86464;
}

#moy {
    background-color: #FFFF00;
}

figure > div {
    display: flex;
    justify-content: center;
}

.cercle {
    width: 70px;
    height: 70px;
    line-height: 60px;
    border-radius: 50%;
    font-size: 1, 5rem;
    text-align: center;
    margin: 0;
}

/** Media queries **/

@media (max-width: 800px) {
    body {
        padding: 30px;
        font-size: larger;
    }
    header {
        flex-direction: column;
    }
    header div {
        display: flex;
        justify-content: center;
    }
    h1 {
        margin: 0;
    }
    main {
        display: block;
        
    }
    #cadre-container {
        width: 66.8%;
    }
    main > *, #cadre-container > *  {
        margin-top: 40px;
    }
    #saints-du-jour {
        line-height: 18px;
    }
    footer {
        flex-direction: column;
    }
}
