/**
* Police et couleurs
**/
html {
    background-color: #003809;
    width: 100%;
}

h1, footer {
    color: white;
}

.cadre-info {
    background-color: #bfecc6;
}

/** Header **/

header {
    display: flex;
    justify-content: center;
    row-gap: 20px;
}

header img {
    width: 150px;
}



h1 {
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 3em;
    margin-left: 60px;
}

/**
* Main
**/

main {
    margin: 20px 0;
}

/**
* Cadre container
**/

#cadre-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
}

#cadre-container > * {
    width: 150%;

}

/*section tableau*/

#meteo_semaine {
    border-spacing: 1px;
    border-collapse: collapse;
}

#meteo_semaine .table-row {
    display: flex;
    align-items: center;
}

#meteo_semaine > div {
    padding: 5px;
    border: 1px solid rgb(46, 46, 46);
}

main,
footer {
    display: flex;
    justify-content: space-around;
}




/**
* Aside Temperatures
**/

aside {
    text-align: center;
    padding: 5px;
}

aside h2 {
    font-size: 2em;
    margin: 0;
}

#min {
    background-color: #2196f3;
}

#max {
    background-color: #e86464;
}

#moy {
    background-color: #FFFF00;
}

figure > div {
    display: flex;
    justify-content: center;
}

.cercle {
    width: 70px;
    height: 70px;
    line-height: 60px;
    border-radius: 50%;
    font-size: 1, 5rem;
    text-align: center;
    margin: 0;
}